---
layout: base.njk
title: "Sessioni SKT"
eleventyNavigation:
  key: "skt-sessioni"
  parent: "avventura-skt"
  title: "Sessioni"
---

{% from "macros.njk" import cardGrid %}
{{ cardGrid(collections, "skt-sessioni", {}, "date", ["adventure"]) }}