---
layout: base.njk
title: "Miscellanea"
eleventyNavigation:
  key: "dnd-miscellanea"
  parent: "dnd-archivio"
---

<h1>Miscellanea - D&D</h1>

<p><em>Diverse altre cose in D&D.</em></p>

{% from "macros.njk" import cardGrid %}
{{ cardGrid("collections," "dnd-miscellanea") }}
