---
layout: base.njk
title: "La Scomparsa del Mago"
sistema: "dnd55e"
ambientazione: "Forgotten Realms"
stato: "In corso"
description: "Una richiesta di soccorso, una sparizione. Un'introduzione a D&D per nuovi giocatori."
eleventyNavigation:
  key: "avventura-sdm"
  parent: "dnd-avventure"
---

<h1>La Scomparsa del mago</h1>

<span class="tag">{{ stato }}</span>
<span class="tag faded">{{ ambientazione }}</span>

<p><em>{{ description }}</em></p>

<h2>Trama</h2>

<p>Nel paese di Ven Lisk, il mago {% navLink collections, "shen-isfel" %} richiede l'aiuto dei Personaggi, ma quando arrivano al ritrovo concordato lui non si presenta.</p>

<h2>Sessioni</h2>

{% navLink collections, "sdm-sessione-01" %}

{% from "macros.njk" import cardGrid %}
{{ cardGrid("sdm-sessioni") }}