---
layout: base.njk
title: "Guida — D&D"
eleventyNavigation:
  key: "dnd_guida"
  parent: dnd
---

<h1>Guida — D&D</h1>

<p><em>Pagine di riferimento per D&D.</em></p>

{% navLink collections, "dnd-guida-01" %}

{% from "macros.njk" import cardGrid %}
{{ cardGrid("dnd-guida") }}

{% navLink collections, "dnd-guida-01" %}