---
layout: base.njk
title: "Miscellanea"
eleventyNavigation:
  key: "gurps-miscellanea"
  parent: "gurps-archivio"
---

<h1>Miscellanea - GURPS</h1>

<p><em>Diverse altre cose in GURPS.</em></p>

{% from "macros.njk" import cardGrid %}
{{ cardGrid(collections, "gurps-miscellanea") }}
