---
layout: base.njk
title: "Oggetti — D&D"
eleventyNavigation:
  key: "dnd-oggetti"
  parent: "dnd-archivio"
---

<h1>Oggetti — D&D</h1>

<p><em>Oggetti magici in D&D.</em></p>

{% from "macros.njk" import cardGrid %}
{{ cardGrid(collections, "dnd-oggetti") }}
