---
layout: base.njk
title: "Avventure — D&D"
siteName: "Il Grimorio"
eleventyNavigation:
  key: "dnd-avventure"
  parent: dnd
---

<h1>Avventure — D&D</h1>

<p><em>Tutte le avventure D&D.</em></p>

{% from "macros.njk" import cardGrid %}
{{ cardGrid(collections, "dnd-avventure") }}
