---
layout: base.njk
title: "Avventure — D&D 5.5e"
siteName: "Il Grimorio"
eleventyNavigation:
  key: dnd-avventure
  parent: dnd
---

<h1>Avventure — D&D 5.5e</h1>

<p><em>Tutte le avventure D&D 5.5e.</em></p>

{% from "macros.njk" import cardGrid %}
{{ collections, cardGrid("dnd-avventure") }}
