---
layout: base.njk
title: "Archivio D&D"
siteName: "Il Grimorio"
eleventyNavigation:
  key: dnd-archivio
  parent: dnd
---

{% from "macros.njk" import cardGrid %}
{{ cardGrid(collections, "dnd-archivio") }}